@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/framework-custom-webuploader.css" />
<link href="/Content/js/simditor/css/simditor.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script src="~/Content/js/Fileupload.js"></script>
<script src="~/Content/js/simditor/js/module.min.js"></script>
<script src="~/Content/js/simditor/js/hotkeys.min.js"></script>
<script src="~/Content/js/simditor/js/uploader.min.js"></script>
<script src="~/Content/js/simditor/js/simditor.min.js"></script>
<style>
    .webuploader-container {
        position: relative;
    }

    .webuploader-element-invisible {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px,1px,1px,1px);
    }

    .fileUpload .preview-list {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 5px;
    }

        .fileUpload .preview-list .fa-file {
            margin-right: 3px;
        }

        .fileUpload .preview-list .fa-close {
            font-size: 14px;
        }
</style>
<script>
    var keyValue = $.request("keyValue");
    var dictionaryBinding = {
      F_Divis_ID: {
        url: '/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division'
      },
      F_Grade_ID: {
          url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade",
      },
      F_Class_ID: {
              url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class",
      },
      F_Year: {
        dictionary: 'F_Year'
    },
      F_Gender: {
        dictionary: '104'
      },
      F_Dzn: {
        dictionary: 'HaveOrNot'
      },
      F_Teacherzn: {
        dictionary: 'HaveOrNot'
      },
      F_Only_One: {
        dictionary: 'YesOrNo'
      },
      F_Guarder_Wh: {
        dictionary: 'Education'
      },
      F_Sqzn: {
        dictionary: 'YesOrNo'
      },
      F_Gender: {
        dictionary: '104'
      },
      F_INYear: {
          OrgId: $("#F_Divis_ID").val(),
          dictionaryOrg: "F_InYear"
      },
      F_InClass: {
        dictionary: 'F_InClass'
      },
      F_PolitStatu: {
        dictionary: 'F_PolitStatu'
      },
      F_ComeBackType: {
        dictionary: 'F_ComeBackType'
      },
      F_ComeFrom_Type: {
        dictionary: 'F_ComeFrom_Type'
      },
      F_Volk: {
        dictionary: '103'
      },
      F_CredType: {
        dictionary: 'Certificate'
      },
      F_Native_Old: {
        dictionary: 'F_Nation'
      },
      F_Cn_Level: {
        dictionary: 'F_Cn_Level'
      },
      F_SchoolType: {
        dictionary: 'F_SchoolType'
      },
      F_Relative1_Guarder: {
        dictionary: 'Education'
      },
      F_Relative2_Guarder: {
        dictionary: 'Education'
      },
      F_Relative3_Guarder3: {
        dictionary: 'Education'
      },
      F_Reg_Status: {
        dictionary: 'HaveOrNot'
      },
      F_RegRelat: {
        dictionary: 'F_RegRelat'
      },
      F_Stu_Type: {
        dictionary: 'F_Stu_Type'
      },
      F_Old: {
        dictionary: 'YesOrNo'
      },
      F_Guarder_CredType: {
        dictionary: 'Certificate'
      },
      F_Nation: {
          dictionary: 'F_Nation'
      },
      F_Guarder_Nation: {
        dictionary: 'F_Nation'
      },
      F_MedicalHis: {
        dictionary: 'F_MedicalHis'
      },
      F_Relative1_Guarder_Relation: {
        dictionary: 'Parentage'
      },
      F_Relative2_Guarder_Relation: {
        dictionary: 'Parentage'
      },
      F_Relative3_Guarder_Relation: {
        dictionary: 'Parentage'
      },
      F_HSK_TEST: {
        dictionary: 'F_HSK_TEST'
      },
      F_Blood_Type: {
        dictionary: 'F_Blood_Type'
      },
      F_Eat: {
        dictionary: 'F_Eat'
      },
      F_Relish: {
        dictionary: 'F_Relish'
      },
      F_Incontinence: {
        dictionary: 'F_Incontinence'
      },
      F_Dress: {
        dictionary: 'F_Dress'
      },
      F_Sleep: {
        dictionary: 'F_Sleep'
      },
      F_Stripped: {
        dictionary: 'F_Stripped'
      },
      F_Physique: {
        dictionary: 'F_Physique'
      },
      F_OrganizeId: {
        url: "/SystemManage/Organize/GetTreeSelectJson"
      },
      F_DepartmentId: {
        url: "/SystemManage/Organize/GetTreeSelectJson"
      },
      F_RoleId: {
        url: "/SystemManage/Role/GetGridJson",
        id: "F_Id",
        text: "F_FullName"
      },
      F_DutyId: {
        url: "/SystemManage/Duty/GetGridJson",
        id: "F_Id",
        text: "F_FullName"
      },
      F_Guarder_Relation: {
        dictionary: 'Parentage'
      },
      F_Subjects_ID: {
        dictionary: 'Class_Type'
      },
      F_RegUserType: {
        dictionary: 'F_RegUserType'
      },
      F_CurStatu: {
            dictionary: 'F_CurStatu'
        }
    }
    function simpleUpload ($container, options) {
      var defaults = {
        maxFile: 1,
        accept: 'image/*',
        url: '/File/FileUpload'
      }
      var status = 'pending'
      var options = $.extend(defaults, options)
      $container.each(function () {
        var $button = $('<div class="btn btn-primary btn-small">选择文件</div>')
        var id = $(this).attr('id')
        var $fileTrigger = $(this).prev('input.file')
        var $input = $('<input type="text" class="required form-control hidden" name='+ id +' id='+ id +' />')
        var $listContainer = $('<ul class="preview-list"></ul>')
        $(this).append($button).append($input).append($listContainer)
        $(this).removeAttr('id')
        var uploader = WebUploader.create({
          swf: 'webuploader/Uploader.swf',
		  accept: options.accept,
          pick: {
            id: $button[0],
            label: '选择文件'
          },
          server: options.url,
          auto: true
        })
        bindEvent(uploader, $listContainer, $button, $input)
      })
      function bindEvent(uploader, $listContainer, $button, $input) {
        uploader.on('fileQueued', function (file) {
          uploader.makeThumb(file, function (error, src) {
            $fileItem = $('<li class="file-item" id='+ file.id +'><div><img src='+ src +' /><i class="fa fa-close"></i></div></li>')
            $listContainer.append($fileItem)
            displayCheck($listContainer, $button)
            $fileItem.find('.fa-close').click(function () {
              var id = $(this).parents('li').attr('id')
              $('#' + id).remove()
              uploader.removeFile(id)
              displayCheck($listContainer, $button)
            })
          })
        })
        uploader.on('uploadSuccess', function (file, response) {
          $input.val(response.url)
        })
      }
      function displayCheck ($listContainer, $button) {
        var fileDom = $listContainer.find('li.file-item')
        if (fileDom.length) {
          if (fileDom.length >= options.maxFile) {
            $button.hide()
          } else {
            $button.show()
          }
        } else {
          $button.show()
        }
      }
    }
    function resetForm () {
      $('.form-control').removeClass('ignore').removeAttr('disabled')
      $('.formValue, .formTitle').removeClass('disabled')
    }
    function initControl() {
        $('.step-pane').each(function () {
          $(this).find('table.form').wrap('<form></form>')
        })
        $.simpleUploader($('.fileUpload'))
        $.each(dictionaryBinding, function (i, item) {
          $('#' + i).bindSelect(item)
        })
        $.addRequired('#form1')
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            $finish.hide();
            if (data.direction == "next") {
              if (!$('#step-'+ data.step).find('form').formValid()) {
              }
              if (data.step === 1) {
                var id = $('#F_Divis_ID').val()
                var data = top.clients.department[id]
                resetForm()
                if (data.length !== 0) {
                    disableFormDoms(data, $('#form1'))
                }
              }

            } else {
                $finish.hide();
                $next.show();
            }
        });
    }
    function disableFormDoms(removeArray, $form) {
      $.each(removeArray, function (i, item) {
        $form.find('#' + item).attr('disabled', 'disabled').parents('.formValue').addClass('disabled').prev('.formTitle').addClass('disabled')
      })
    }
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_Students/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '')
                }
            });
        }
    });
    function submitForm() {
        //if (!$('#form1').formValid()) {
        //    return false;
        //}
        //$.submitForm({
        //    url: "/SchoolManage/School_Students/SubmitForm?keyValue=" + keyValue,
        //    param: $("#form1").formSerialize(),
        //    success: function () {
        //        $.currentWindow().$("#gridList").trigger("reloadGrid");
        //    }
        //})
    }
</script>

<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">基本信息</a></li>
            <li><a href="#b" data-toggle="tab">入学信息</a></li>
            <li><a href="#c" data-toggle="tab">户口信息</a></li>
            <li><a href="#d" data-toggle="tab">家庭信息</a></li>
            <li><a href="#e" data-toggle="tab">键康状况</a></li>
            <li><a href="#f" data-toggle="tab">生活状况</a></li>
            <li><a href="#g" data-toggle="tab">其他</a></li>
            @*<li><a href="#h" data-toggle="tab">状态变更日志</a></li>*@
        </ul>
        <div class="tab-content" style="padding-top: 5px;">
            <div id="a" class="tab-pane form active" style="padding: 15px;">
                @Html.Partial("_FromBasePartial")
            </div>
            <div id="b" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromEnrolPartial")
            </div>
            <div id="c" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromRegPartial")
            </div>
            <div id="d" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromFamilyPartial")
            </div>
            <div id="e" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromHealthPartial")
            </div>
            <div id="f" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromLifePartial")
            </div>
            <div id="g" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromOtherPartial")
            </div>
            @*<div id="h" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromStatuLog")
            </div>*@
        </div>
    </div>
</form>